.header-container {
  max-width: 375px;
  margin: 0 auto;
  padding: 24px 20px;
  position: relative;
}

.header-container::after {
  content: '';
  height: 0.5px;
  width: 100%;
  background-color: #048C80;
  position: absolute;
  top: 100%;
  left: 0;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  background: linear-gradient(25deg, #017373 0%, #AAD9D1 100%);
  border-radius: 8px;
}

.logo-icon {
  fill: #EFECE6; 
  width: 75%; 
  height: 75%;
}

.logo-text {
  font-weight: 700;
  letter-spacing: -0.02em;
}

.nav-menu,
.get-started-bnt {
  display: none;
}

.burger-btn {
  background-color: transparent;
  border: none;
}

.burger-icon {
  stroke: #EFECE6;
  fill: #080808;
}

